<!doctype html>
<html lang="ru">
{{> head}}
{{> header}}
<body>
<div class="container mt-5">
    <h1>{{title}}</h1>
    <form action="add-review" method="post">
        <input type="text" name="title" placeholder="Название" class="form-control"><br>
        <textarea name="text" placeholder="Текст" class="form-control"> </textarea><br>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit" class="btn btn-success">Добавить</button>
    </form>
    <h3 class="mt-2">Все отзывы</h3>
    {{#reviews}}
        <h2 class="mt-2">{{title}}</h2>
        <p>{{text}}</p>
        <a href="/reviews/{{id}}" class="btn btn-warning">Детальнее</a>
    {{/reviews}}
</div>
</body>
{{> footer}}
</html>