<!doctype html>
<html lang="ru">
{{> head}}
{{> header}}
<body>
<div class="container mt-5">
        <h2 class="mt-2">{{review.title}}</h2>
        <p>{{review.text}}</p>
        <form action="/reviews/{{review.id}}/delete" method="post">
            <button type="submit" class="btn btn-danger">Удалить</button>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        </form><br><br>
        <a href="/reviews/{{review.id}}/update" class="btn btn-warning">Редактировать</a>
</div>
</body>
{{> footer}}
</html>