<!doctype html>
<html lang="ru">
{{> head}}
{{> header}}
<body>
<main>
    <div class="container">
        <h1>{{user.username}}</h1>
        <form action="/update-user" method="post">
            <input type="text" name="username" class="form-control" placeholder="Логин" value="{{user.username}}" required/><br>
            <input type="text" name="email" class="form-control" placeholder="Эл. почта" value="{{user.email}}"/><br>
            <input type="text" name="repeatEmail" class="form-control" placeholder="Повторите Эл. почта"/><br>
            <input type="password" name="password" class="form-control" placeholder="Пароль"/><br>
            <input type="password" name="repeatPassword" class="form-control" placeholder="Повторите Пароль"/><br>
            <label>
                <input type="checkbox" name="is_car" value="true" {{#isCar}}checked{{/isCar}}>
                Есть ли автомобиль?</label><br><br>
            <select name="roles" required>
                    {{#roles}}
                        <option value="{{key.name}}" {{#value}}selected{{/value}}>{{key.name}}</option>
                    {{/roles}}
            </select><br><br>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <input type="submit" value="Обновить" class="btn btn-success"/>
        </form>
    </div>
</main>
</body>
{{> footer}}
</html>