<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/head :: head"></head>
<header th:replace="blocks/header :: header"></header>
<body>
<div class="container">
    <h1 th:text="${user.username}"/><br>
    <h2 th:text="${user.email}"/><br>
    <h2 th:text="${user.roles.toArray()[0]}"/><br>
    <h3 th:if="${user.enabled}" class="text-success fw-bold">Активен</h3>
    <h3 th:unless="${user.enabled}" class="text-danger fw-bold">Забанен</h3><br>
    <h3 th:if="${user.is_car}">Есть автомобиль</h3>
    <h3 th:unless="${user.is_car}">Нету автомобиля</h3><br>
    <a th:href="@{/admin-panel/user/} + ${user.username} + @{/ban}" class="btn btn-danger" th:if="${user.enabled}">Забанить</a><br>
    <a th:href="@{/admin-panel/user/} + ${user.username} + @{/unban}" class="btn btn-success" th:unless="${user.enabled}">Разбанить</a><br>
    <div th:each="review : ${user.reviews}" class="mt-5">
        <h2 class="mt-2" th:text="${review.title}"/>
        <p th:text="${review.text}"/>
        <a th:href="@{/reviews/} + ${review.id}" class="btn btn-warning">Детальнее</a>
    </div>
</div>
</body>
<footer th:replace="blocks/footer :: footer"></footer>
</html>